.container-fluid{
    padding-top: 50px;
}

.nroDireccion{
    width: 15px;
}

#afiliadoIzquierda label,#afiliadoDerecha label{
    width: 25%;
    float: left;
    text-align: right;
    clear: left;
}
.abm input, .abm select{
    width: 65%;
}

#afiliado_tipodoc_id{
    width: 10%;
}

#afiliado_nro_doc{
    width: 55%;
}

#afiliadoIzquierda{
    float: left;
    width: 50%;
}


#afiliadoDerecha{
    float: right;
    width: 50%;
}

.footer{
    width: 100%;
    clear: both;
}